.card {
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  position: relative;
  transition: all 0.3s ease-in;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  background-color: rgba(255, 255, 255, 0.822);
  width: 70%;
  margin: auto;
  margin-bottom: 1rem;
}

.card .card {
  width: unset;
}

.card:hover {
  background-color: #c8c1e7;
}

.card:last-child {
  margin-bottom: unset;
}

.button-group {
  display: flex;
  gap: 1rem;
  position: absolute;
  right: 1rem;
  top: 0.5rem;
}

.button-group > *:hover {
  cursor: pointer;
}

.button-group > * {
  display: inline-block;
}

.card-user {
  text-decoration: underline;
}

.card-user:hover {
  cursor: pointer;
  color: #114b5f;
}

.new-post-form * {
  border: none;
  width: 100%;
}
