form {
  display: flex;
  flex-direction: column;
}

form h2 {
  margin: auto;
}

form > div {
  display: flex;
  flex-direction: column;
  width: min-content;
  margin: auto;
}

textarea {
  background-color: var(--surface-2);
  font-style: italic;
  border: 3px solid var(--border);
  color: var(--text);
}

form select {
  margin-top: 1rem;
}

form button {
  background-color: var(--accent-2);
  color: var(--text);
  border: 3px solid var(--border);
  cursor: pointer;
  width: min-content;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
