form {
  display: flex;
  flex-direction: column;
}

form h2 {
  margin: auto;
}

form > div {
  display: flex;
  flex-direction: column;
  width: min-content;
  margin: auto;
}

textarea {
  background-color: lightblue;
  font-style: italic;
  border: none;
}

form select {
  margin-top: 1rem;
}

form button {
  background-color: #6b2737;
  color: white;
  border: none;
  cursor: pointer;
  width: min-content;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
