.root {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content 1fr;
}

.root-header {
  grid-area: 1 / 1 / 2 / -1;
  background-color: #6b2737;
  display: flex;
  padding: 1rem 20%;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  z-index: 1;
}

.root-header nav {
  display: flex;
  gap: 1rem;
  color: e4fde1;
}

.online-user {
  color: #e4fde1;
  margin-left: auto;
  font-weight: bold;
}

.root-header nav > * {
  text-decoration: none;
  color: white;
  height: min-content;
}

.root-main {
  grid-area: 2 / 1 / -1 / -1;
  background-color: #e4fde1;
  padding: 2rem 15%;
}

a {
  color: inherit;
  font-weight: bold;
  transition: color 0.2s ease-in;
  text-decoration: none;
}

a:hover {
  color: #114b5f;
}

a.active {
  background: #114b5f;
  color: white;
}

a.pending {
  color: #114b5f;
}
