.root > * {
  padding: 1rem;
}

.root {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 25vh 1fr;
  grid-template-rows: 15vh 1fr;
}

.root-header {
  grid-area: 1 / 1 / 2 / -1;
  background-color: green;
}

.root-header nav {
  display: flex;
  gap: 1rem;
  color: white;
}

.root-header nav > * {
  text-decoration: none;
  color: white;
}

.root-header nav > a:last-child {
  margin-left: auto;
}

.root-main {
  grid-area: 2 / 1 / -1 / -1;
  background-color: aqua;
}

a {
  color: inherit;
  font-weight: bold;
  transition: color 0.2s ease-in;
  text-decoration: none;
}

a:hover {
  color: blue;
}

a.active {
  background: blue;
  color: white;
}

a.pending {
  color: blue;
}
